{% extends "base.html" %}
{% block content %}

    <section class="bg-primary" id="about">

  <div class="container">

    <div class="page-header">
      <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    </div>

    <form data-toggle="validator" role="form" method="post">
      <div class="form-group">
        <label for="inputName" class="control-label">Name</label>
        <input type="text" class="form-control" name="name" id="inputName" placeholder="Cina Saffary" required>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
          <input type="checkbox" id="terms" name="known" data-error="Before you wreck yourself">
            {% if not known %}
              <p>Pleased to meet you!</p>
            {% else %}
              <p>Happy to see you again!</p>
            {% endif %}
          </label>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <p>New user? <a href="{{ url_for('register') }}">Click here to register</a>.</p>


  </div>


    </section>



{% endblock %}