{% extends "base.html" %}
{% block content %}

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{post.title}}</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 text-center">
            <div class="service-box mt-12 mx-auto">
              <p class="text-muted mb-0">{{post.body}}</p>
              <p class="text-muted mb-0">
                {% if current_user.is_authenticated %}
                      <a class="" href="{{ url_for('.edit', id=post.id) }}">Edit</a>
                {% endif %}
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>



{% endblock %}